*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background-image: url(haha%20fakk%20dette.jpg.JPG);
    background-position: center;
    background-size: cover;
    
}
.header-text{
    max-width:350px;
    float: right;
    
}
h1{
    
    font-size: 20px;
    
}
.square{
    
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.common-btn{
    padding: 6px 9px;
    background: #99edc3;
    outline: none;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
}
p{
    
font-size: 15px;
    line-height: 19px;
    color: black;
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#sideNav{
    width: 250px;
    height: 50vh;
    position: fixed;
    right: 0;
    top: 100px;
    background: #99edc3;
    border: 2px solid black;
    z-index: 2;
    
}